body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#logo_layer {
    height:100%;
    text-align:center;
}

#logo {
    text-align:center;
    /*background-image: url('robocat.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;*/
    max-width:100%;
    max-height:100%;
}

#links {
    position: absolute;
    margin: 30px;
    padding: 20px;
    bottom: 0;
    left: 50;
    z-index: 10;
    line-height: 20px;
    vertical-align: middle;

    /*--background--*/
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 66%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(66%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius: 25px;
    border: #solid 10px #000;

    /*background-color: rgba(105,100,100,0.4);*/
    margin-left: auto ;
    margin-right: auto ;
    font-size: 20pt;
}

a:link {
    color: #ff8800;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #ff5200;
    text-decoration: underline;
}